* {
    margin: 10px;
  }
  body {
    background-color: yellow;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date {
    font-size: 10px;
  }
  
  .container {
    background-color: white;
    width: 400px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 18px;
    box-shadow: 10px 10px black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  img {
    width: 380px;
    height: 300px;
  }
  .heading {
    background-color: yellow;
    width: 100px;
  }
  .info {
    display: flex;
    align-items: center;
  }
  .info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .desc {
    color: grey;
  }
  